.entity-block {
    display: flex;
    margin-bottom: 120px;

    @media (max-width: $md2+px) {
        display: block;
    }
    @media (max-width: $md3+px) {
        margin-bottom: 60px;
    }
    @media (max-width: $md4+px) {
        margin-bottom: 40px;
    }

    &__column-1 {
        flex: 0 0 295px;
        margin-right: 125px;

        @media (max-width: 1265px) {
            margin-right: 20px;
        }

        @media (max-width: $md2+px) {
            margin-right: 0;
        }
    }

    &__column-2 {
        flex: 1 1 auto;
    }
}