.breadcrumb-wrap {
    &.gray {
        .breadcrumb-item {
            color: $gray;
            &+ .breadcrumb-item {
                &:before {
                    color: $gray !important;
                }
            }
        
            &.active {
                color: $gray;
            }
        
            & > a {
                color: $gray;  
            }
        }
    }
}
.breadcrumb {
    justify-content: center;
    background-color: transparent;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 0;
    flex-wrap: nowrap;
}





.breadcrumb-item {
    font-size: 14px;
    line-height: 1.71em;
    color: #FFFFFF;
    white-space: nowrap;

    &+ .breadcrumb-item {
        &:before {
            color: #fff !important;
            content: '-' !important;
            margin: 0 5px;
        }
    }

    &.active {
        color: #FFFFFF;
    }

    & > a {
        color: #FFFFFF;

        &:hover {
            text-decoration: underline;
        }
    }
}