.products-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    
    & > li {
        padding:  0 10px;
        flex: 0 1 25%;
        margin-bottom: 55px;

        @media (max-width: $md2+px) {
            flex: 0 1 33.333%;
        }

        @media (max-width: $md3+px) {
            flex: 0 1 50%;
        }

        @media (max-width: $md4+px) {
            flex: 0 1 100%;
            margin-bottom: 25px;
        }
    }
}
