@import '~simplebar/dist/simplebar.css';

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;
	transition: opacity .8s ease;


	@media (max-width: $md3+px) {
		font-size: 1.6rem;
	}
	@media (max-width: $md4+px) {
		font-size: 1.4rem;
	}

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.wrapper.home-app {
    height: 100%;
    overflow-y: auto;

    & main.page{
        position: relative;
        height: 100%;
        width: 100%;
    }

    & .footer {
        position: relative;
        z-index: 3;
    }
}


// == components =========
@import "@site/befreeApp/components/header/header-v2.scss";
@import "@site/befreeApp/components/buttons/buttons.scss";
@import "@site/befreeApp/components/burger/burger.scss";
@import "@site/befreeApp/components/side-panel/side-panel.scss";
@import "@site/befreeApp/components/result/result.scss";
@import "@site/befreeApp/components/range-filter/range-filter.scss";
@import "@site/befreeApp/components/info-card-sm/info-card-sm.scss";
@import "@site/befreeApp/components/info-card/info-card.scss";
@import "@site/befreeApp/components/stars/stars.scss";
@import "@site/befreeApp/components/way/way.scss";
@import "@site/befreeApp/components/map/map.scss";
@import "@site/befreeApp/components/scroll-to-footer/scroll-to-footer.scss";
@import "@site/befreeApp/components/selects/selects.scss";
@import "@site/befreeApp/components/footer/footer.scss";
// == // components =========



.home-app-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 120%;
}

[data-scroll] {
    & .simplebar-track.simplebar-vertical {
        width: 6px;
    }

    & .simplebar-scrollbar {
        &:before {
            background: #dcdce3;
        }
    }
}

