.entity-list {

    &__item {
        &:not(:last-child) {
            margin-bottom: -2px;

            @media (max-width: $md2+px) {
                margin-bottom: 20px;
            }
        }

        &:last-child {
            @media (max-width: $md2+px) {
                margin-bottom: 20px;
            }
        }
        
    }

    &__triggers {
        display: flex;
        align-items: center;
        background: transparent;
        box-shadow:  0px  0px 0px #FFFFFF, 0px 0px 0px #E9E9EC;
        border-radius: 30px;
        color: $textColor;
        min-height: 60px;
        padding: 10px 20px;
        font-size: 18px;
        line-height: 1.2em;
        position: relative;

        @media (max-width: $md2+px) {
            background: linear-gradient(109.5deg, #EEEEF1 6.26%, #FFFFFF 93.74%);
            box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
            min-height: 50px;
            padding-right: 40px;
        }

        @media (min-width: 992px) {
            &:hover {
                background: $blue;
                box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
                color: #fff;

                & > span {
                    & svg {
                        stroke: #fff;
                    }
                }
            }
        }

        &.active {
            @media (min-width: 992px) {
                background: $blue;
                box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
                color: #fff;
    
                & > span {
                    & svg {
                        stroke: #fff;
                    }
                }
            }

            @media (max-width: $md2+px) {
                color: $blue;
                & > span {
                    & svg {
                        stroke: $gray;
                    }
                }

                & .plus {
                    &::before {
                        height: 0;
                    }   
                }

            }    
        }
        
        & > span {
            flex: 0 0 24px;
            height: 24px;
            margin-right: 20px;

            & svg {
                width: 100%;
                height: auto;
                stroke: $gray;
            }
        }

        & .plus {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            height: 14px;
            width: 14px;
            flex: 0 0 12px;
            margin-right: 0;

            &::before, &::after {
                background-color: $blue;
                transition: all .2s ease;
            }

            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}