.promo-header {
    position: relative;
    z-index: 10;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            display: block;
            z-index: 2;
        }

        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 75%;
            background-color: $blue;
            z-index: 1;
        }

        & > .promo-header__img {
            display: none;

            @media (max-width: $md2+px) {
                display: block;
                bottom: 134px;
                right: -216px;
                width: 978px;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 150px;
                    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d71f9+0,000000+100&0.65+0,0+100 */
                    background: -moz-linear-gradient(
                        top,
                        rgba(109, 113, 249, 0.65) 0%,
                        rgba(0, 0, 0, 0) 100%
                    ); /* FF3.6-15 */
                    background: -webkit-linear-gradient(
                        top,
                        rgba(109, 113, 249, 0.65) 0%,
                        rgba(0, 0, 0, 0) 100%
                    ); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(
                        to bottom,
                        rgba(109, 113, 249, 0.65) 0%,
                        rgba(0, 0, 0, 0) 100%
                    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a66d71f9', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
                }
            }

            @media (max-width: $md3+px) {
                bottom: auto;
                top: -14px;
                right: 50%;
                transform: translateX(50%);
                width: 900px;
            }

            @media (max-width: 574px) {
                bottom: auto;
                top: 0px;
                width: 747px;
            }
        }
    }

    &__bg-inner {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 9342px;
        padding-bottom: 100%;
        display: flex;
        flex-direction: column;
        background-color: $blue;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: 0px 24px 24px rgba(109, 113, 249, 0.25);
        overflow: hidden;

        & .container {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;

            @media (max-width: $md2+px) {
                display: none;
            }
        }

        @media (max-width: 1920px) {
            width: 6810px;
        }

        @media (max-width: 1267px) {
            width: 3342px;
        }

        @media (max-width: $md2+px) {
            width: 2342px;
        }
        @media (max-width: $md3+px) {
            width: 1342px;
        }
        @media (max-width: $md4+px) {
            width: 642px;
        }
    }

    &__bg-bottom {
        width: 100%;
        & svg {
            width: 100%;
            height: auto;
            transform: translateY(-1%);
        }
    }

    &__img {
        position: absolute;
        bottom: 85px;
        right: -300px;
        width: 1225px;
        z-index: 5;
        & img {
            width: 100%;
        }

        @media (max-width: 1199px) {
            bottom: 128px;
            right: -199px;
            width: 1156px;
        }
    }

    &__body {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        position: relative;
        z-index: 3;

        // @media (max-width: $md2+px) {
        //     padding-top: 85px !important;
        // }

        // @media (max-width: $md3+px) {
        //     padding-top: 40px !important;
        // }

        @media (max-width: $md4+px) {
            padding-top: 30px !important;
        }

        & .promo-header-search {
            color: #fff;

            & .promo-header-search__input {
                box-shadow: -12px 3px 24px #7D82FF, 12px 12px 24px #5D60D4;
                background: rgba(#fff, 0.1);
            }
        }
    }

    &__title {
        margin-bottom: 20px;
        max-width: 17.2em;
        position: relative;
        color: #fff;
        @media (max-width: $md3+px) {
            text-align: center;
            max-width: none;
        }

        @media (max-width: $md4+px) {
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        position: relative;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.42em;
        color: #FFFFFF;
        margin-bottom: 76px;

        @media (max-width: $md2+px) {
            margin-bottom: 69px;
        }

        @media (max-width: $md3+px) {
            text-align: center;
            margin-bottom: 240px;
        }

        @media (max-width: $md4+px) {
            font-size: 18px;
            margin-bottom: 190px;
        }

        & > strong {
            color: $turquoise;
            font-weight: 500;
        }
    }

    &__local-icon {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    &__select-group {
        @media (min-width: 1580px) {
            position: absolute !important;
            top: 5px;
            right: 0;
            transform: translateX(97%);
            display: block;
        }

        @media (max-width: 1579.98px) {
            display: flex;

            & > * {
                margin-right: 25px;

                & .radio-wrap__label {
                    white-space: nowrap;
                }
            }
        }

        @media (max-width: 1199.98px) {
            display: block;
        }
    }

    & .promo-header-search {
        & .promo-header-search__input {
            min-height: 42px;
            font-size: 16px;

            &::placeholder {
                font-size: 16px;
            }
        }

        & .btn {
            height: 42px;
            font-size: 16px;
        }
    }

    & .header-sort {
        & .header-sort__title {
            font-size: 12px;
            margin-bottom: 0px;
        }
        
        & .header-select .select__item {
            padding-top: 10px;
            min-height: 42px;
            padding-bottom: 8px;
            & .select__title {
                width: 100%;
            }

            & .select__value  {
                font-size: 16px;
            }
        }
    }

    & .header-bottom-btn {
        height: 60px;
        width: 60px;

        & > span {
            min-width: 40px;
            height: 40px;
            padding: 10px;
        }
    }

    & .header-select-wrap {
        height: 42px;
    }

    & .radio-wrap  {
        & .radio-wrap__label {
            font-size: 16px;
        }
    }
}
