.quote {
    background: linear-gradient(109.5deg, #EEEEF1 6.26%, #FFFFFF 93.74%);
    box-shadow: -12px -12px 24px #FFFFFF, 12px 12px 24px #E9E9EC;
    border-radius: 5px;
    padding: 40px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;

    @media (max-width: $md2+px) {
        padding: 30px;
        margin-bottom: 30px;
    }
    @media (max-width: $md3+px) {
        padding: 20px;
        margin-bottom: 55px;
    }
    @media (max-width: $md4+px) {
        padding: 25px 15px;
        margin-bottom: 30px;
    }

    &:before {
        position: absolute;
        content: '';
        left: 20px;
        top: -20px;
        height: 40px;
        width: 40px;
        background-image: url(../img/icons/quote-up.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:after {
        position: absolute;
        content: '';
        bottom: -20px;
        right: 20px;
        height: 40px;
        width: 40px;
        background-image: url(../img/icons/quote-down.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__text {
        font-size: 24px;
        line-height: 1.42em;
        color: $textColor;
        margin-bottom: 20px;

        @media (max-width: $md2+px) {
            font-size: 22px;
            margin-bottom: 15px;
        }
        @media (max-width: $md3+px) {
            font-size: 20px;
        }
        @media (max-width: $md4+px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &__author {
        color: $gray;
    }
}
