<a href="#popupStatement" class="btn btn-outline-primary popup-link" data-da="menu__inner,first,767.8">Войти</a>

<br>

<div class="promo-header__local-icon header-bottom-btn">
    <span>
        <img src="img/icons/local-turquoise.svg" alt="local">
    </span>
</div>

<br>

<span class="plus"></span>

<br>

<a href="#" class="btn btn-outline-primary width-100">Показать еще</a>

<br>

<a class="read-more" href="#">Читать дальше</a>

<br>

<a href="#" class="info-block__link">
    <span>
        <img src="img/icons/shopping-bag.svg" alt="icons">
    </span>
    Перейти в магазин
</a>

<br>

<a href="#" class="btn-add-entity">
    <span class="plus"></span>
    Добавить юр.лицо
</a>

<br>

<a href="#" class="btn-delete"><span></span></a>

<br>

<a href="#" class="btn-add">
    <span class="plus"></span>
    Добавить телефон
</a>