.home-app-map {
    & .gm-style-iw  {
        min-width: 252px !important;
        max-width: 315px !important;
    }
    & .gm-style-iw-d {
        min-width: 252px !important;
    }
    & .gm-style-iw.gm-style-iw-c {
        padding: 0px !important;
    }

    & .gm-style .gm-style-iw-c {
        overflow: visible;
    }

    & .gm-style-iw-d {
        overflow: auto !important;
        padding: 20px;

        @media (max-width: $md4+px) {
            padding: 10px;
        }
    }

    & .gm-style-iw-t {
        &:after {
            display: none;
        }
    }

    & button.gm-ui-hover-effect {
        height: 20px !important;
        width: 20px !important;
        background: #fff !important;
        border-radius: 5px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        top: -23px !important;
        right: -19px !important;
        
        & img {
            margin: 0 !important;
        }
    }
}

.info-card {
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    padding: 10px;

    &.info-card-map {
        padding: 0;
        & .info-card__img {
            width: 100%;
            height: 164px;
            flex: 0 0 164px;
            margin-bottom: 15px;
            margin-right: 0;
            @media (max-width: $md4+px) {
                height: 137px;
                flex: 0 0 137px;
            }
        }

        & .info-card__like {
            top: 170px;
            right: 0;

            @media (max-width: $md4+px) {
                top: 145px;
            }

            & > svg path {
                stroke: $blue;
            }
        }
    }

    &__like {
        position: absolute;
        top: 5px;
        right: 3px;
        padding: 5px;
        cursor: pointer;
        height: 29px;
        width: 29px;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($blue, 0.1);
            }
        }

        & svg {
            width: 100%;
            height: auto;

            & path {
                transition: all 0.3s ease;
            }
        }

        &.active {
            & svg {
                & path {
                    fill: $blue;
                    stroke: $blue;
                }
            }
        }
    }

    &__row {
        display: flex;

        &.wrap {
            flex-wrap: wrap;
        }

        &.column {
            flex-direction: column;
        }

        &.space-between {
            justify-content: space-between;
        }
    }

    &__img {
        flex: 0 0 109px;
        height: 65px;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;

        @media (max-width: $md4+px) {
            flex: 0 0 75px;
            height: 45px;
        }

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__text-wrap {
        @media (max-width: $md4+px) {
            & .info-card__row {
                display: block;
            }
        }
    }

    &__title {
        flex: 0 1 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #2a2929;
        margin-bottom: 13px;
        padding-right: 30px;

        @media (max-width: $md4+px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__text-icon {
        flex: 0 1 100%;
        font-size: 14px;
        line-height: 17px;
        color: #2a2929;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        & img {
            flex: 0 0 16px;
            height: auto;
            margin-right: 10px;
        }
    }

    &__btn-group {
        display: flex;
        margin-right: auto;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 54px;
        height: 50px;
        margin-right: 10px;
        padding: 10px;
        cursor: pointer;
        background: linear-gradient(109.5deg, #eeeef1 6.26%, #ffffff 93.74%);
        box-shadow: -12px -12px 24px #ffffff, 12px 12px 24px #e9e9ec;
        border-radius: 30px;
        transition: all 0.3s ease;

        @media (max-width: $md4+px) {
            flex: 0 0 44px;
            height: 40px;
        }

        @media (min-width: 992px) {
            &:hover {
                box-shadow: -12px -12px 24px #ffffff, 12px 12px 24px #c1c1ff;
            }
        }

        & img {
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__btn-go {
        &.button {
            min-width: 83px;

            @media (max-width: $md4+px) {
                min-width: 70px;
                height: 40px;
            }
        }
    }
}
